@import url('https://fonts.gogleapis.com/css2?family=Robotp:wght@300;400;500;700&display=swap');

body {
    font-family: "Robot", sans-serif;
}

html {
    background-color: #E5E5E5;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.acordeon {
    width: 655px;
    min-width: 347px;
    box-shadow: 0 27px 49px -25px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 30px;
    position: relative;
}

.acordeon .ilustracao {
    max-width: 278px;
    max-height: 293px;
    position: absolute;
    left: -90px;
    /* padding: 30px 0px 30px 0; */
}

.acordeon .conteudo {
    width: 90%;
    padding: 70px 0 40px 225px;
}

.acordeon .conteudo h1 {
    font-size: 25px;
    font-weight: 700;
    font-style: bold;
    margin-bottom: 14px;
}

.acordeon .itens {
    list-style-type: none;
}

.acordeon .itens .item {
    cursor: pointer;
    background-image: url(../srcExercicio6/imagens/setaCinza.png);
    background-repeat: no-repeat;
    background-position: top 8px right 0;
    background-size: 12px;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
}

.acordeon .itens .item:last-child {
    border-bottom: none;
}

.acordeon .itens .item .pergunta {
    padding-bottom: 15px;
    transition: 0.2s ease;
    font-size: 17px;
    width: 90%;
    font: 500 bold;
}

.item .pergunta:hover {
    color: #F47C57;
}

.acordeon .itens .item .resposta {
    display: none;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: 300;
}

/* ESTILOS DE ITEM DE acordeon ATIVO */

.acordeon .itens .item.ativo h2 {
    font-weight: 700;
    font-size: 17px;
}

.acordeon .itens .item.ativo .resposta {
    display: block;
}

.acordeon .itens .item.ativo {
    background-image: url(../srcExercicio6/imagens/setaVermelha.png);
}