/*  EXERCICIO 4 - 01/03/2025 */

.campo-preenchido{
	border: 1px solid green;
}

/* EXERCICIO 3 - 01/03/2025 */
.quadrado{
	height: 100px;
	width: 100px;
	background-color: black;
}
.azul{
	background-color: blue;
}

/* EXERCICIO 1 - 28/02/2025 */

.quadrado{
	height: 100px;
	width: 100px;
}
.azul{
	background-color: blue;
}
.vermelho{
	background-color: red;
}
.amarelo{
	background-color: yellow;
}