article {
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    border: solid 10px rgba(18, 57, 186, 0.698) 
    width: 50%;
    background-color: rgba(127, 255, 212, 0.416);
    border-radius: 25px;
}