/* ---- ESTILOS GERAIS ---- */

body {
    background-color: rgba(128, 128, 128, 0.274);

}

.cabecalho {
    padding: 10px 5px;
    background-color: rgba(59, 240, 240, 0.16);
    border: solid 5px rgba(178, 0, 249, 0.171);
    border-radius: 10px;
}

.cabecalho .logo {
    display: inline-block;
}

.cabecalho nav {
    float: right;
}

.cabecalho nav li {
    display: inline-block;
    padding: 10px;
}

.float .right {
    float: right;
    background-color: rgba(172, 255, 47, 0.449);
    width: 100px;
    height: 100px;
}

.float .left {
    float: left;
    background-color: rgba(172, 255, 47, 0.554);
    width: 100px;
    height: 100px;
}

/* Esse elemento faz se adequar ao tamanho dos elementos filho */
.float::after {
    content: "";
    display: block;
    clear: both;
}

img {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

.body {
    font-size: 25px;
    font-weight: bold;
    color: rgba(129, 0, 249, 0.457);
}

.container {
    height: 300px;
    background-color: antiquewhite;
    position: relative;
    margin-bottom: 20px;
}

.btn {
    width: 250px;
    height: 50px;
    background-color: lavender;
    color: rgb(101, 101, 101);
    font-size:  30px;
}

/* ---- ESTILOS GERAIS (FIM) ---- */

/* ---- OUTROS ---- */

.texto-centralizado-1 {
    width: 250Px;
    height: 250px;
    background-color: rgba(255, 166, 0, 0.478);
    text-align: center;
    line-height: 250px;
}


a {
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    color: black;
    text-decoration: none;
}

a:visited {
    color: goldenrod
}

a:hover {
    background-color: #D1c4e9;
    color: #5900fd;
}
