article {
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    border: solid 10px rgba(0, 58, 249, 0.518);
    width: 50%;
    background-color: rgba(187, 238, 251, 0.433);
    border-radius: 15px;
}

/* Aula 1 */
nav, header {
    position: relative;
    color: black;
    box-sizing: border-box;
    border: solid 5px rgba(116, 166, 216, 0.687);
    padding: 5px;
    margin: 5px;
    width: 50%;
    background-color: azure;
    border-radius: 25px;
}

.container-cascata {
    background-color: aqua;
}

/* Especificidade */

h2 {
    background-color: lightskyblue;
}

/* .container-especificidade p {
    background-color: greenyellow;
} */

#meu-paragrafo {
    background-color: lightslategray;
}

/*Aula 2*/

.fundo-alinhamento {
    padding: 20px;
    background-color: #D1c4e9;
}

.fundo-transform {
    padding: 20px;
    background-color: #c8e6c9;
}

.fundo-decoration {
    padding: 20px;
    background-color: #FFF9c4;
}

.fundo {
    padding: 20px;
    background-color: #ccc;
}

html {
    font-size: 16px;
}

.alinhado-esquerda {
    text-align: left;
}

.alinhado-direita {
    text-align: right;
}

.alinhado-centro {
    text-align: center;
}

.alinhado-justificado {
    text-align: justify;
}

.maiuscula {
    text-transform: uppercase;
}

.minuscula {
    text-transform: lowercase;
}

.capitalizando {
    text-transform: capitalize;
}

